{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<!-- BEGIN HEAD -->

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<meta name="description" content="Responsive Admin Template" />
	<meta name="author" content="RedstarHospital" />
	<title>SisMeT</title>
	<!-- google font -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
	<!-- icons -->
	<link href='{%static "sysmet/assets/bundles/simple-line-icons/simple-line-icons.min.css" %}' rel="stylesheet" type="text/css" />
<!--	<link href='{%static "sysmet/css/font-awesome.min.css" rel="stylesheet" type="text/css"%}' />-->
	<script src="https://use.fontawesome.com/4d2ae273d2.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<!--bootstrap -->
	<link href='{%static "sysmet/assets/bundles/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet" type="text/css" />
	<!-- Material Design Lite CSS -->
	<link rel="stylesheet" href='{%static "sysmet//assets/bundles/material/material.min.css" %}'>
	<link rel="stylesheet" href='{%static "sysmet/css/material_style.css" %}'>
	<!-- Theme Styles -->
	<link href='{%static "sysmet/css/theme_style.css" %}' rel="stylesheet" id="rt_style_components" type="text/css" />
	<link href='{%static "sysmet/css/plugins.min.css" %}' rel="stylesheet" type="text/css" />
	<link href='{%static "sysmet/css/style.css" %}' rel="stylesheet" type="text/css" />
	<link href='{%static "sysmet/css/responsive.css" %}' rel="stylesheet" type="text/css" />
	<link href='{%static "sysmet/css/theme-color.css" %}' rel="stylesheet" type="text/css" />
	<!-- favicon -->
	<link rel="shortcut icon" href='{%static "img/favicon.ico" %}'/>
</head>
<!-- END HEAD -->